*{
    margin: 0;
}
H2{text-align: center; padding: 1%;}
.con{
    margin: auto;
    align-items: center;
    width: 78%;
}
section{padding: 5% 0;}
img{
    max-width: 100%;
}
header img {
    width: 70%;
}
header ul li{
    color: white;
}
.blanco {
    color: white !important;
}
#destacados{
    margin-top:1% ;
    height: 50vh; 

}
#destacados>div{
    display: flex;
    width: 70%;
    height: 40vh; 
    margin: auto;
    padding-top: 1%;
}
#destacados img{
    width: 0%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}
#destacados img:hover{
    cursor: crosshair;
    width: 10vh;
    opacity: 1;
    
}

#novedades {
    margin-top: 5%;
    text-align: center;
    padding: 20px;
}

#novedades h2 {
    margin: 20px 0;
}

#novedades>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#novedades article {
    border: solid 2px;
    padding: 1%;
    margin: 1%;
}
#novedades h5 {
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
#novedades  img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
#novedades p{
    color: red;
    font-size: 17px;
    font-weight: bold;
}
#novedades span{
    color: black;
    text-decoration: line-through;
    font-size: 15px;
    font-weight:lighter;
}
#snom{
    margin-top:10%;
    align-items: center;
}
#snom>div{
    display: flex;
    justify-content: space-between;
}
#snom>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}
#snom>div>div div{
    padding: 1%;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    padding-top: 3%;
}
footer > div{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

.sobre{
    text-align: center;
    padding: 5% 0;
}
#inicio h1{
    text-align: center;
    padding-top: 2%;
}
#inicio>div{
    display: flex;
    justify-content: space-between;
}
#inicio>div>div{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#inicio>div>div:nth-child(1){
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: justify;
}
#rele>div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    text-align: justify;
}
#rele span{
    font-weight: bold;
}
@media (max-width: 850px) {
    #snom>div div{
        display: flex;
        flex-direction: column; 
    }
    #snom>div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer > div{
        display: flex;
        flex-direction: column;  
        text-align: center;
    }
    footer > div > div{
        padding: 5%;
        max-width: 100%;
        border: solid 1px ;
    }
    #inicio>div{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 15px;
        width: 100%;
    }
    #inicio>div>div{
        width: 80%;
    }
    #inicio>div>div:nth-child(1){
        width: 80%;
    }
    #rele>div div{
        flex-direction: column-reverse;
    }
    #rele>div div:nth-child(2){
        flex-direction: column;
    }
}

    
